<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FilePath" value="E:\Development\Brute_Force\"/>
    <add key="FileName" value="Keys.json"/>
    <add key="InitialDictionary" value="ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"/>
    <add key="FileOutputPath" value="E:\Development\Brute_Force\"/>
    <add key="FileOutputName" value="Output.json"/>
    <add key="DefinedLength" value="4"/>
  </appSettings>
</configuration>